

.example
  span  #[span.color.hvr-buzz #[i.fas.fa-volume-off.fa-lg.show]] استمع 
  .audio
    span.play.times #[i.fas.fa-times.fa-lg]
    span.play #[i.fas.fa-stop.fa-lg]
    span.play #[i.fas.fa-pause.fa-lg]
    span.play #[i.fas.fa-play.fa-lg] 
