

.teached
  span.stay-one-g كم الإستفهامية
  span.stay-tow-g كم الخبرية
.result
  i.fas.fa-long-arrow-alt-up.fa-2x
  img(src="imges/teacher_main.png", alt="")
  i.fas.fa-long-arrow-alt-up.fa-2x
  p اضغط على كل من كم الإستفهامية وكم الخبرية لعرض الشرح
.result-stay-one.result
  img(src="imges/avatar.png", alt="")
  ul
    li كم الإستفهامية يُستفهم بها عن عدد مجهول
    li فنقول كم جنيهاً معك ؟ #[span.green لاحظ علامة الإستفهام فى نهاية الجملة]
    li فهو سؤال يحتاج إلى جواب لذلك يرد المخاطب ويقول معى واحد أو اثنين أو ثلاثة
    li.green لاحظ أيضاً أنها تقع فى أول الجملة
    li تمييزها دائماً مفرد منصوب
  .file
    span أمثلة
    i.fas.fa-file-alt
    .example2
      ul 
        li أمثلة :
      p كم جنيهاً معك ؟
      p كم بلداً سافرت ؟
      p كم رجلاً صادقت ؟
.result-stay-tow.result
  img(src="imges/avatar.png", alt="")
  ul 
    li أما كم الخبرية فيخبر بها عن كثرة شئ معين فنقول ، كم مرة طلعت الشمس ! 
    li.green ولاحظ أيضاً أن نهاية جملة كم الخبرية تنتهى بعلامة التعجب
    li وجملة كم الخبرية تمييزها دائماً مجرور
  .file
    span أمثلة
    i.fas.fa-file-alt 
  .example3
    ul 
      li أمثلة :
    p كم مرةِ طلعت الشمس ! 
    p كم مرةِ نجحت فى حياتى !
    p كم قصةِ قرأت !

