
/* Start Header Page */

.container-div {
  .main {
    margin: 0 auto;
    .content {
      .header {
        width: auto;
        background-color: $red-color;
        height: 150px;
        padding: 20px 0;
        // animation: head 2s;
        .icon {
          float: $float-right;
          margin-right: 15px;
          margin-top: -10px;
          i {
            color: $other-color;
            cursor: pointer;
          }
        }
        .head {
          // animation: fade 7s;
          h1,h3 {
            margin: -20px auto 45px;
            padding: 5px 10px;
            background: none;
            color: #fff;
          }
          h3 {
            font-size: 18px;
            margin: 5px 0 30px 0;
          }
          .son {
            font-size: 30px;
            border: none;
            padding: 5px 40px;
            display:inline-block;
            box-shadow: 0px 0px 10px #000;
            border-radius: 20px;
          }
        }
      }
    }
  }
}

/* End Header Page */