doctype html
html(lang="en", dir="rtl")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/master.css")
    script(src="JS/html5shiv.min.js")
    script(src="JS/respond.min.js")
    title القواعد النحوية
  body
    
    // Start Grammar Page
    
    .container-div.expanded
      .main
        include layout/sidebar
        .content
          include layout/header
          .parent
            h3.text-center.wow.rotateIn سادسًا : القواعد النحوية
            .question.active
              ul.should.text-center.list-unstyled
                li#type-writer 
              ul.rule.text-center.list-unstyled.wow.rotateIn(style="margin-top: 15px !important")
                li تحدد كم الإستفهامية وكم الخبرية مما يعرض عليك 

            // Start Question
            
            .question.twelve.one
              .ready
                ul.should.text-center.list-unstyled
                  li التهيئة : أختر الجواب الصحيح مما يلى : 
              ul.rule.text-center.list-unstyled
                li عندما تريد أن تسأل عن عدد الكتب التى قرأءها صديقك ، تقول له : 
              .choose.yes كم كتاباً قرات ؟
              .choose.no كم كتابٍ قرات !
              
            // End Question

            // Start Question
            
            .question.twelve.one
              .ready
                ul.should.text-center.list-unstyled
                  li التهيئة : أختر الجواب الصحيح مما يلى : 
              ul.rule.text-center.list-unstyled
                li عندما تريد أن تتعجب من كثرة الكتب التى قرأءها صديقك ، تقول له : 
              .choose.no كم كتاباً قرات ؟
              .choose.yes كم كتابٍ قرات !
            
            // End Question

            // Start Question
            
            .question.thirteen.one
              ul.should.text-center.list-unstyled
                li التمييز بين كم الإستفهامية وكم الخبرية
              include include/include_Element
            
            // End Question

            // Start Question
            
            .question.forteen.one.thirteen
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الأول : أختر الأجابة الصحيحة مما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] القواعد 
                .all
                  include include/include_Element
              .content-gramer
                .grammer 
                  p كم كتاباً اشتريت 
                  span.line-red ....
                  span.line-black.yes ؟
                  span.line-black.no ! 
                .right-answer إجابة صحيحة
                .Wrong-answer إجابة خاطئة
                
            // End Question

            // Start Question
            
            .question.forteen.one.thirteen
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الأول : أختر الأجابة الصحيحة مما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] القواعد 
                .all
                  include include/include_Element
              .content-gramer
                .grammer 
                  p كم رحلُة سافرت
                  span.line-red ....
                  span.line-black.yes ؟
                  span.line-black.no ! 
                .right-answer إجابة صحيحة
                .Wrong-answer إجابة خاطئة
            
            // End Question

            // Start Question
            
            .question.forteen.one.thirteen
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الأول : أختر الأجابة الصحيحة مما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] القواعد 
                .all
                  include include/include_Element
              .content-gramer
                .grammer 
                  p كم قصيدةٍ من الشعر حفظت
                  span.line-red ....
                  span.line-black.yes ؟
                  span.line-black.no ! 
                .right-answer إجابة صحيحة
                .Wrong-answer إجابة خاطئة
            
            // End Question

            // Start Question
            
            .question.forteen.one.thirteen
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الأول : أختر الأجابة الصحيحة مما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] القواعد 
                .all
                  include include/include_Element
              .content-gramer
                .grammer 
                  p كم مرةٍ زرت الأزهر
                  span.line-red ....
                  span.line-black.yes ؟
                  span.line-black.no ! 
                .right-answer إجابة صحيحة
                .Wrong-answer إجابة خاطئة
            
            // End Question

            // Start Question
            
            .question.forteen.one.thirteen
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الثانى : أختر الأجابة الصحيحة مما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] القواعد 
                .all
                  include include/include_Element
                  
              .content-gramer
                .grammer 
                  p كم مرةٍ زرت اصدقائك
                  span.line-red ....
                  span.line-black.yes ؟
                  span.line-black.no ! 
                .right-answer إجابة صحيحة
                .Wrong-answer إجابة خاطئة
            
            // End Question

            // Start Question
            
            .question.forteen.one.thirteen
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الثانى : أختر الأجابة الصحيحة مما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] القواعد 
                .all
                  include include/include_Element
              .content-gramer
                .grammer
                  .text كم جمعةٍ صليت ، هذه جمله ....
                    span.line-red ....
                  .down
                    span.line-black.yes خبرية
                    span.line-black.no إستفهامية
                .right-answer إجابة صحيحة
                .Wrong-answer إجابة خاطئة
            
            // End Question

            // Start Question
            
            .question.forteen.one.thirteen
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الثانى : أختر الأجابة الصحيحة مما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] القواعد 
                .all
                  include include/include_Element
              .content-gramer
                .grammer
                  .text كم جزءاً من القرءان الكريم حفظت ، هذه جملة .....
                    span.line-red ....
                  .down
                    span.line-black.yes خبرية
                    span.line-black.no إستفهامية
                .right-answer إجابة صحيحة
                .Wrong-answer إجابة خاطئة
            
            // End Question

            // Start Question
            
            .question.forteen.one.thirteen
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الثانى : أختر الأجابة الصحيحة مما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] القواعد 
                .all
                  include include/include_Element
              .content-gramer
                .grammer
                  .text كم حديقةُ زرت ، هذه جملة ....
                    span.line-red ....
                  .down
                    span.line-black.yes خبرية
                    span.line-black.no إستفهامية
                .right-answer إجابة صحيحة
                .Wrong-answer إجابة خاطئة
            
            // End Question

            // Start Question
            
            .question.forteen.one.thirteen
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الثانى : أختر الأجابة الصحيحة مما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] القواعد 
                .all
                  include include/include_Element
              .content-gramer
                .grammer
                  .text كم مجلس علم حضرت ، هذه جملة .....
                    span.line-red ....
                  .down
                    span.line-black.yes خبرية
                    span.line-black.no إستفهامية
                .right-answer إجابة صحيحة
                .Wrong-answer إجابة خاطئة
            
            // End Question

            .button
              button.next.hvr-wobble-to-top-right التالى
              button.prev.hvr-wobble-to-bottom-right السابق

    include layout/footerscripts

    // End Grammar Page