doctype html
html(lang="en", dir="rtl")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/master.css")
    script(src="JS/html5shiv.min.js")
    script(src="JS/respond.min.js")
    title البلاغة
  body
    
    // Start Rhetoric Page
    
    .container-div.expanded
      .main
        include layout/sidebar
        .content
          include layout/header
          .parent
            h3.text-center.wow.rotateInDownRight خامسًا: البلاغة
            .question.active
              ul.should.text-center.list-unstyled
                li#type-writer
              ul.rule.text-center.list-unstyled.wow.rotateInDownRight(style="margin-top: 15px !important")
                li تستخرج التشبيه وأركانه مما يعرض عليك 
              ul.rule.text-center.list-unstyled.wow.rotateInUpLeft(style="margin-top: 15px !important")
                li تحدد التشبيه وأركانه

            // Start Question
            
            .question.ten.one
              .ready
                ul.should.text-center.list-unstyled
                  li التهيئة : اختر الإجابة الصحيحة مما يلى :
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] البلاغة 
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled
                li محمد جندى شجاع فى المعركه جملة ؟
              .choose.yes حقيقية 
              .choose.no مجازية
            
            // End Question

            // Start Question
            
            .question.ten.one
              .ready
                ul.should.text-center.list-unstyled
                  li التهيئة : اختر الإجابة الصحيحة مما يلى :
                .example
                  span #[span.color.hvr-buzz #[i.fas.fa-book.read]] البلاغة 
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled
                li محمد كالأسد شجاعة فى المعركة جملة ؟ 
              .choose.no حقيقية
              .choose.yes مجازية
            
            // End Question

            // Start Question
            
            .question.eleven.one
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الأول : ضع علامة ( صح ) أمام المثال الذى يحتوى على تشبيه ، وعلامة ( خطأ ) أمام المثال الذى لا يحتوى عليه فيما يلى : 
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] البلاغة 
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled
                li سافر محمد إلى مصر . 
              include include/choses_Reading
            
            // End Question

            // Start Question
            
            .question.eleven.one
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الأول : ضع علامة ( صح ) أمام المثال الذى يحتوى على تشبيه ، وعلامة ( خطأ ) أمام المثال الذى لا يحتوى عليه فيما يلى :
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] البلاغة 
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled
                li يزأر الجندى فى ميدان المعركة . 
              include include/choses_Reading 
            
            // End Question

            // Start Question
            
            .question.eleven.one
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الأول : ضع علامة ( صح ) أمام المثال الذى يحتوى على تشبيه ، وعلامة ( خطأ ) أمام المثال الذى لا يحتوى عليه فيما يلى :
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] البلاغة 
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled
                li مشى محمد مشية كالأسد . 
              include include/choses_Reading
            
            // End Question

            // Start Question
            
            .question.eleven.one
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الأول : ضع علامة ( صح ) أمام المثال الذى يحتوى على تشبيه ، وعلامة ( خطأ ) أمام المثال الذى لا يحتوى عليه فيما يلى :
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] البلاغة 
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled
                li العلم كثل النور فى الهداية . 
              include include/choses_Reading
            
            // End Question

            // Start Question
            
            .question.eleven.one
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الأول : ضع علامة ( صح ) أمام المثال الذى يحتوى على تشبيه ، وعلامة ( خطأ ) أمام المثال الذى لا يحتوى عليه فيما يلى :
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] البلاغة 
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled
                li العلم كثل النور والهواء لا يستغنى الناس عنه .
              include include/choses_Reading
            
            // End Question

            // Start Question
            
            .question.eleven.one
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الثانى : اضغط على المشبه به فى الجملة التالية :
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] البلاغة 
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled(style="cursor: auto")
                li الجهل مثل #[span.guess.yes الظلام] فى #[span.guess.no حياة] الناس
              .right-answer إجابة صحيحة
              .Wrong-answer إجابة خاطئة
              
            // End Question

            // Start Question
            
            .question.eleven.one
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الثانى : اضغط على المشبه به فى الجملة التالية :
                .example
                  span  #[span.color.hvr-buzz #[i.fas.fa-book.read]] البلاغة 
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled(style="cursor: auto")
                li كأنك #[span.guess.yes شمس] والملوك كواكب إذا #[span.guess.no طلعت] لم يبد منهن كوكب
              .right-answer إجابة صحيحة
              .Wrong-answer إجابة خاطئة
            
            // End Question

            // Start Question
            
            .question.eleven.one
              .ready
                ul.should.text-center.list-unstyled
                  li النشاط الثانى : اضغط على أداة التشبيه فى الجملة التالية :
                .example
                  span #[span.color.hvr-buzz #[i.fas.fa-book.read]]  البلاغة
                  .audio
                    span.play.times #[i.fas.fa-times.fa-lg]
                    p التشبيه : عقد مماثلة بين أمرين من أجل إشراكهما فى صفة أو أكثر بأداة ظاهرة أو غير ظاهرة لغرض يقصده المتكلم ، والتشبيه يقوم على أربعة أركان ، المشبه ، والمشبه به ، وأداة التشبيه ، و وجه الشبه ، وقد يحذف واحد أو أكثر من هذه الأركان لعلة ، وإذا حذف المشبه فإنما يكون حذفه لعلة كالثابت.
                    p فنجد فى قول الله "وله الجوار المنشآت فى البحر كالأعلام " وهنا المشبه : هو ما أراد المتكلم أن يثبت له صفه ، وهو يتضح فى ( الجوار ) فى الآية الكريمة
                    p ونجد فى "الوقت كالسيف إن لم تقطعه قطعك" أن المشبه به : هو ما يتضح فيه الصفه المراد إثباتها للمشبه ، وهو يتضح فى كلمه السيف أما عن الأداة فهى كل لفظ يدل على المماثلة ، ومنها الكاف ، وكأن ، ومثل ، وشبه ، وشآبه ، ويماثل ويضارع .
              ul.rule.text-center.list-unstyled(style="cursor: auto")
                li التعليم فى #[span.guess.no الصغر] #[span.guess.yes كالنقش] على الحجر
              .right-answer إجابة صحيحة
              .Wrong-answer إجابة خاطئة
            
            // End Question

            .button
              button.next.hvr-wobble-to-top-right التالى
              button.prev.hvr-wobble-to-bottom-right السابق

    include layout/footerscripts

    // End Rhetoric Page