

$main-color: #3EB2CF;
$red-color: #CC2D4D;
$green-color: #2fd22f;
$sub-color: #34444C;
$other-color: #fff;
$gray-color: #ddd;

$float-right: right;
$float-left: left;

$leaner-color: #b09b5c;
$second-color: #52e9e2;

